@media screen and (max-width: 890px) {
    body{
        margin: 0;
        padding: 0;
    }
    .container-content{
        background-color:#eaeaea;
        width: auto;
        /* margin: auto; */
        margin-left:10% ;
        margin-right: 10%;
        border: 1px solid grey;
        border-width: 10px;
        transition-property: all;
        transition: 1s;
    }
    
    fieldset{
    width: 70%;
    
    background-color: seashell;
    
 
}

}
