/* Import Via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

body{
    background-image: url(./asset/back.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px;
    padding: 0;
}

.kalkulator{
    width: 100%;
    background: #eaeaea;
    margin: 50px auto 50px;
    padding: auto;
    border-radius: 5px;
}
#layar{
    width: 80%;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    outline: none;
    padding: 5%;
    margin: auto 9%;
    
}

#layar:hover{
    place-content: none;
}

.tombol{
 display: flex;
 width: 25%;
 border-radius: 4px;
 font-size: 20px;
 color: grey;
 animation: cubic-bezier(0.075, 0.82, 0.165, 1);
 font-weight: bold;
 height: 70px;
 border: 1px solid #cecece;
 box-sizing: border-box;
 justify-content: center;
 align-items: center;
 border-top: none;
 border-left: none;   
}
.tombol:nth-child(4n+1){
border-left: 1px solid #cecece;
}
.tombol:hover{
    background: hsl(0, 0%, 89%);
    cursor: pointer;
}
#nol{
    flex-grow: 1;
}
.operator{
    background: #d8d8d8;

}
.hitung{
    background: #ffa64a;
    color: whitesmoke;
}
#hitung:hover{
    background: orange;
}


fieldset{
    width: 50%;
    margin: 50px auto 10px auto;
    background-color: seashell;
    
 
}
legend{
    font-size: 2em;
    text-align: center;
}
footer{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    background-color: rgba(138, 222, 218, 0.6);
    padding-top: 20px;    
}
a{
    text-decoration: none;
    color: #ffa64a;
}
.judul{
    padding: 0px;
    margin: 0px;
    font-family: 'Lemonada', cursive;
    text-align: center;
    font-size: 50px;
}
ul li{
    text-align: center;
    list-style: none;
    
}
p{
    
    text-align: center;
    justify-content: center;
}

/* bagian Container */

.container-judul{

    width: 50%;
    margin: 50px auto 0px auto;
}
.container-content{
    background-color:#eaeaea;
    width: 50%;
    margin: auto 25%;
    border: 1px solid grey;
    border-width: 10px;
    transition-property: all;
    transition: 0.5s;
}
.container-tombol{
    display: flex;
    flex-wrap: wrap;

}
b{
    border: 1px solid grey;
    background-color: lightgreen;
}